.modal-content {
  border: none;
  border-radius: 0;
}

.movie-modalbody {
  padding-top: 30px;
  padding-left: 58px;
}

.movie-title {
  font-size: 32px;
  font-weight: 300;
  color: #164e78;

  &::after {
    content: "";
    display: block;
    width: 52px;
    height: 2px;
    background: #21b3cf;
    margin-top: 16px;
  }
}

.subject {
  font-weight: 400;
  font-size: 14px;
  color: #78849eb9;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #78849e;
}

.link {
  font-weight: 500;
  font-size: 16px;
  color: #00baff;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 32px;
  &::after {
    content: "CLOSE";
    font-size: 8px;
    font-weight: 400;
    color: #718fa2;
    position: absolute;
    bottom: -15px;
    left: 1px;
  }
  &:hover {
    opacity: 0.8;
    &::after {
      position: absolute;
      bottom: 5px;
      left: -25px;
      color: #012433;
      transition: all 0.1s linear;
    }
  }
}
